<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
						
	<!-- hasRole('ROLE_USER') 와 같이 사용할 것. ROLE_USER 안된다.  -->
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/*" access="hasRole('ROLE_USER')" />
	</http>
	<authentication-manager alias="authenticationManager">
		<authentication-provider>
			<user-service>
				<!-- ROLE_USER 와 같이 사용할 것. hasRole('ROLE_USER')안된다. -->
				<user authorities="ROLE_USER" name="guest" password="guest" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>
